body {
  text-align: center;
}
a {
  /* text-decoration: none; */
  color: black;
}
ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
}
li {
  margin: 0px 20px;
}
.pp {
  text-align: center;
}
